.preview-wrap
  .original-tweet-container.app
    .original-tweet
      .stream-item-header
        %a.account-group{ :href => "#twitter_account" }
          %img.avatar{ :src => avatar_url(current_user) }
          %strong.fullname #{current_user.name}
          %span.username
            %b @#{current_user.nickname}
        %small.time
          %a.tweet-timestamp{ :href => "#detail-tweet" }
      //.tweet-wrap
      //  %p.TweetTextSize Buy my new thing!
      .card-grid
        .card.image-card.top-card
          %span.helper
          %img{ :src => @content.image_src, :alt => "No image :(" }
        .card.commerce-card.bottom-card
          .right
            %button{ :type => "submit", "data-toggle" => "modal", "data-target" => "#buyNowModal" } Buy
          .left
            %h2.card-title #{content.title}
            .buynow-byline
              - if content.price
                %span.buynow-price #{number_to_currency(content.price, :unit => "$")}
              - else
                %span.buynow-price #{number_to_currency(0, :unit => "$")}
              %span.buynow-merchant #{current_user.name}
        .card-icons
          %img{ :src => image_url("twitter_icons.png"), :alt => "share" }