

.box-wrapper.comment.reply-form
  .avatar
    = image_tag avatar_url(current_user), :class => "user-icon"
  .summary-content
    = form_for(@reply, :remote => true, :authenticity_token => true, :url => { :controller => "contents", :action => "create_reply" }, :html => { :class => 'inline-fields' }) do |f|
      = f.hidden_field :parent_id, :value => @content.id
      %fieldset
        = f.text_area :description, :placeholder => "Add a reply...", :class => "req", :id => "reply_field"
      .button-wrapper
        
        
        .file-input-wrapper
          %button.btn-file-input
            = image_tag("w_photo.png")
          = f.file_field :file
        
        
        = f.submit "Post", :class => "submit"

