.modal-wrapper#modal-wrapper
  .inner
    = render "buypreview", :content => @content
    //%h1 Preview
.title-wrap
  %h1 #{@content.title} <span style="color: #aaa">(Draft)</span>
.preview-container
  .preview-left
    = render "preview", :content => @content
    .actions
      %a{:href => "#preview", :class => "modal-trigger"} preview
      = link_to "edit", edit_content_url(@content)
      = link_to "delete", @content, :method => :delete, :class => "urgent", data: { confirm: "Are you sure?" }
  .preview-right
    .detail-wrapper
      //%h2 Product Details
      .input-row
        %label Quantity Available:
        %input{:type => "text", :placeholder => "(optional)"}
      //.input-row
      //  %label Start Date
      //  %input{:type => "text", :placeholder => "now"}
      .input-row
        %label Shipping Fee:
        %input{:type => "text", :placeholder => "0.00"}
      .input-row
        %label End Date
        %input{:type => "text", :placeholder => "never", :class => "datepicker"}
      .input-center
        %input{:type => "submit", :value => "Tweet it"}