.form-wrapper
  .form-info
    %h1 Sign Up

    .error-messages
      - for message in @user.errors.full_messages
        %p #{message}

  = form_for(@user, :html => { :class => 'form-fields' }) do |f|
    %fieldset
      = f.email_field :email, :placeholder => "Email", :class => "req", :autocomplete => :off
      
      
      = f.password_field :password, :placeholder => "Password", :class => "req", :autocomplete => :off
      = f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "req", :autocomplete => :off
    = f.submit "Sign Up", :class => "submit"
